
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

.Wrapper {
    width: 100%;
    display: flex;
    justify-content: center; /* centrování */
}

.Container {
    background-image: url('/assets/textures/wooden_desk_04.jpg');
    background-size: 100%;
    background-position: center center;
    border-radius: 10px;
    padding: 10px;      /*TODO tady se mi to orezava zprava o 2x padding*/
    color: #BFBFBF;
}

.Container.cover {
    background-size: cover;
}

.Container.rotated {
    background-image: url('/assets/textures/wooden_desk_04_01.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top; /* nebo center center, podle potřeby */
}

.Container.fit {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    order:1;
}

AddButton{
}


.GamePanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;               /* mezera mezi tabulkou a headerem */
    width: 12ch;
    position: relative;
}

.Content {
    max-width: calc(1.1 * 100vh);
    display: flex;
    gap: 0px 10px;
    align-items: stretch;
    /*font-size: clamp(0.8rem, 2vw, 2rem);*/
}

.Content.horizontal {
    flex-direction: column;
    gap: 10px 0px;
    width: 80ch;
}

.GamePanelNavigation {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
    display: flex;
    gap: 8px;
}

.GamePanelNavigationButton {
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    /*height: 10px;*/
}

/* text v levém sloupci tabulky */
.GamePanelTableText {
    font-size: 1em;
    font-weight: bold;
    color: #BFBFBF;
    margin-top: 10px;
}

.GameList {
    display: flex;
    flex-direction: column;
    gap: 10px;               /* mezera mezi tabulkou a headerem */
}

.GameListItem {
    display: grid;
    grid-template-columns: 1fr auto auto;
    /*align-items: center;*/
    gap: 2px;               /* mezera mezi tabulkou a headerem */
}

.GameListItemCaption {
    grid-row: span 2;
    order: 1;
    align-self: center; /* horizontálně */
}

.GamePanelTableText.signedAsLabel {
    order: 2;
    align-self: center; /* horizontálně */
    align-content: center; /* horizontálně */
}

.GamePanelTableImage.signedAsValue {
    order: 3;
    width: 30px;
    height: 30px;
    align-self: center; /* horizontálně */
}

.GamePanelTableText.activePlayerLabel {
    order: 4;
    align-self: center; /* horizontálně */
}

.GamePanelTableImage.activePlayerValue {
    order: 5;
    width: 30px;
    height: 30px;
    align-self: center; /* horizontálně */
}

/* obrázky v pravém sloupci */
.GamePanelTableImage {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}

/* header vpravo */
.GamePanelHeader {
    flex: 1 1 auto;
    font-size: 1em;
    font-weight: bold;
    color: #BFBFBF;
    margin-top: 30px;
    align-self: center; /* zarovná na střed oproti tabulce */
}

.GameTable {
    display: grid;
    grid-template-columns: repeat( 11, 1fr);
    border: 2px solid;
    padding: 0px;
    min-width: 250px;
    /*gap: 0px;*/
}

.GameTableCell {
    display: flex;
    padding: 4px;
    border: 2px solid;
}

.GameTableRow {
    display: contents;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}

.tile-blink {
    animation: blink 1s infinite;
}

.game-title {
    font-size: 24px;
    /*margin-bottom: 20px;*/
    flex-grow: 1;
    text-align: center;
    margin: 0 10px;}

.GamePanelBox {
    /*display: flex;*/
    /*justify-content: left;*/
    /*gap: 20px;*/
}

.back-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.tile-button {
    width:100%;
    border-radius: 20%;
    /*padding: 0px;*/
    /*margin: 0px;*/
}

.tile-button:hover {
    border-color: #FF00007F;
}

.tile-button:active {
    border-color: #0056b3;
}

/*.GamePanel {*/
/*    display: flex;*/
/*    justify-content: left;*/
/*    gap: 10px;*/
/*}*/

/*.GamePanelTable {*/
/*    flex: 0 0 auto;*/
/*    display: grid;*/
/*    grid-template-columns: repeat( 2, 1fr);*/
/*    justify-content: left;*/
/*    !*grid-auto-rows: auto;*!*/
/*    gap: 2px;*/
/*}*/

/*.GamePanelTableImage {*/
/*    width: 50%;*/
/*    height: 50%;*/
/*}*/

/*.GamePanelTableText{*/
/*    height: 20px;*/
/*    font-size: 100%; !* zděděná hodnota z rodiče *!*/
/*}*/

/*.GamePanelHeader{*/
/*    flex: 1;*/
/*    height: 20px;*/
/*    font-size: 100%; !* zděděná hodnota z rodiče *!*/
/*}*/

/*.game-panel {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    padding: 15px;*/
/*    background-image: url('/assets/textures/wooden_desk_04.jpg');*/
/*    background-size: 100%;*/
/*    background-position: center center;*/
/*    background-repeat: no-repeat;*/
/*    border-radius: 15px;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.modal-background {*/
/*    background-image: url('/assets/textures/wooden_desk_01.jpg');*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-color: transparent;*/
/*    color: white;*/
/*}*/

.tile-selected {
    /*background-color: #ff7b00;*/
}

.tile-selected-opponent {
    /*background-color: #777777;*/
}

.tile-move-enabled {
    background-color: #00ff7b3f;
}

.tile-move-enabled-opponent {
    background-color: #7F7F7F;
}

table {
    border-collapse: collapse;
}
td {
    padding: 0;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

/*@layer base {*/
/*  * {*/
/*    @apply border-border outline-ring/50;*/
/*    }*/
/*  body {*/
/*    @apply bg-background text-foreground;*/
/*    }*/
/*}*/